---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Novinky";
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <a href="/posts/post_1">Novinka 1</a>
        <a href="/posts/post_2">Novinka 2</a>
        <a href="/posts/post_3">Novinka 3</a>
    </ul>
</BaseLayout>

