---
const pageTitle = "Novinky";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Novinky</a>
		<h1>{pageTitle}</h1>
        <ul>
            <a href="/posts/post_1">Novinka 1</a>
            <a href="/posts/post_2">Novinka 2</a>
            <a href="/posts/post_3">Novinka 3</a>
        </ul>
	</body>
</html>
